<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">FileUpload</title>
</head>
<body>
<div style="text-align: center;margin-top: 50px">
    <form action="uploadFile" method="post" enctype="multipart/form-data">
        <p><input type="file" name="fileName"/></p>
        <p><input type="submit" value="上传文件"/></p>
    </form>
    <form action="search">
        <p><input type="submit" value="查询文件"></p>
    </form>
</div>
</body>
</html>